/**
 *-----------------------------------------------------------------------------------------
 * FOOTER
 *-----------------------------------------------------------------------------------------
 */

.site-footer{
	&__item{
		box-sizing: border-box;
		width: 100%;
		@include respond-to(md) {
			width: 50%;
		}
		@include respond-to(lg) {
			width: 25%;
		}
		& h2,
		& p,
		& i,
		& span{
			color: $white;
		}
		& h2{
			// @include bg('http://localhost/wp-content/themes/idea-storefront-child/images/fondo-footer.png', $black-ligth, 100% 3rem);
			text-align: center;
			font-weight: 300;
			font-size: 1.3rem !important;
			text-transform: uppercase;
			margin: 1.5rem 1rem;
			line-height: 3rem;
			border: 3px solid $color-theme;
		}
		& p{
			margin-top: 1.618em;
		}
		& i{
			margin-right: 0.5rem;
			margin-left: 0.5rem;
		}
		& a{
			color: $white !important;
			font-weight: 300 !important;
			&:hover{
				color: $color-theme-hover !important;
			}
		}
		&--contact{
			padding-left: 1rem;
			>i{
				margin-right: 0.5rem;
				&.fa-mobile{
					font-size: 150%;
				}
			}
			>span.email{
				font-size: 96%;
			}
		}
		&--nav{
			ul.site-footer__item--nav-categories{
				margin-left: 1.2rem !important;
				font-size: 1.25rem;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}